.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  gap: 12px;
  background-color: wheat;
}
.navbar-image {
  height: 60px;
}

.logo-container h1 {
  font-size: 32px;
  font-family: "Whisper", cursive;
}

.logout-btn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  transition: color 0.4s ease;
}

.logout-btn:hover {
  color: tomato;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.confirm-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .navbar-image {
    height: 80px;
  }
}

@media (max-width: 560px) {
  .logout-btn {
    font-size: 20px;
  }
  .logout-btn {
    font-size: 18px;
  }

  .logo-container h1 {
    font-size: 26px;
  }

  .navbar-image {
    height: 54px;
  }
}
