.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  gap: 12px;
  background-color: wheat;
}
.navbar-image {
  height: 60px;
}

.logo-container h1 {
  font-size: 32px;
  font-family: "Whisper", cursive;
}

.logout-btn {
  background: none;
  border: none;
  font-size: 28px;
  cursor: pointer;
  transition: color 0.4s ease;
}

.logout-btn:hover {
  color: tomato;
}

@media (min-width: 768px) {
  .navbar-image {
    height: 80px;
  }
}

@media (max-width: 560px) {
  .logout-btn {
    font-size: 20px;
  }
  .logout-btn {
    font-size: 18px;
  }

  .logo-container h1 {
    font-size: 26px;
  }

  .navbar-image {
    height: 54px;
  }
}
